ESTM/ESTM.Web.BLL/Service References/ServiceReference_PowerManager/IPowerManageWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:1234/MyWCF.Server/IPowerManageWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" />
  <xs:import schemaLocation="http://127.0.0.1:1234/MyWCF.Server/IPowerManageWCFService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="expressionNode" nillable="true" type="q1:ExpressionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="GetUsersResult" nillable="true" type="q2:ArrayOfDTO_TB_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oUser" nillable="true" type="q3:DTO_TB_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="AddUserResult" nillable="true" type="q4:DTO_TB_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oUser" nillable="true" type="q5:DTO_TB_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByLamada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="expressionNode" nillable="true" type="q6:ExpressionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByLamadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserByLamadaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oUser" nillable="true" type="q7:DTO_TB_USERS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="expressionNode" nillable="true" type="q8:ExpressionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q9:ArrayOfDTO_TB_DEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oDept" nillable="true" type="q10:DTO_TB_DEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="AddDepartmentResult" nillable="true" type="q11:DTO_TB_DEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oDept" nillable="true" type="q12:DTO_TB_DEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeptByLamada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="expressionNode" nillable="true" type="q13:ExpressionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeptByLamadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDeptByLamadaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oDept" nillable="true" type="q14:DTO_TB_DEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDepartmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="expressionNode" nillable="true" type="q15:ExpressionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="GetRolesResult" nillable="true" type="q16:ArrayOfDTO_TB_ROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oRole" nillable="true" type="q17:DTO_TB_ROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="AddRoleResult" nillable="true" type="q18:DTO_TB_ROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Serialize.Linq.Nodes" minOccurs="0" name="expressionNode" nillable="true" type="q19:ExpressionNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="GetMenusResult" nillable="true" type="q20:ArrayOfDTO_TB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="oMenu" nillable="true" type="q21:DTO_TB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ESTM.Common.DtoModel" minOccurs="0" name="AddMenuResult" nillable="true" type="q22:DTO_TB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>